@charset "UTF-8";
/* CSS Document */
body, h1, h3, h2, h4, h5, h6, p, dl, dd, ul, li, ol, td, form, input, fieldset, legend {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-size: 12px;
  color: #333; }

body {
  font-size: 14px;
  font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\5b8b体,sans-serif;
  color: #666; }

* {
  box-sizing: border-box; }

img {
  vertical-align: top;
  display: block;
  border: none; }

a, input {
  outline: none; }

em, i {
  font-style: normal; }

b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

table {
  border-collapse: collapse; }

.border0 {
  border: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.Hair-car-header-box {
  background: #f6f6f6; }
  .Hair-car-header-box .Hair-car-header {
    width: 1190px;
    margin: 0 auto; }
    .Hair-car-header-box .Hair-car-header .Hair-car-headerl {
      float: left;
      line-height: 35px; }
      .Hair-car-header-box .Hair-car-header .Hair-car-headerl span {
        color: #333;
        cursor: pointer; }
    .Hair-car-header-box .Hair-car-header .Hair-car-headerr {
      float: right; }
      .Hair-car-header-box .Hair-car-header .Hair-car-headerr li {
        float: left;
        color: #999;
        position: relative;
        line-height: 35px;
        margin-right: 20px; }
        .Hair-car-header-box .Hair-car-header .Hair-car-headerr li a {
          color: #999;
          position: relative;
          z-index: 30; }
      .Hair-car-header-box .Hair-car-header .Hair-car-headerr .Hair-login {
        float: left;
        color: #999;
        position: relative;
        margin-right: 20px; }
        .Hair-car-header-box .Hair-car-header .Hair-car-headerr .Hair-login a:first-of-type {
          padding: 3px 5px;
          background: #33beff;
          color: #fff;
          border-radius: 3px;
          margin-left: 5px;
          position: relative;
          z-index: 30; }
        .Hair-car-header-box .Hair-car-header .Hair-car-headerr .Hair-login a:last-of-type {
          display: inline;
          padding: 0;
          margin: 0;
          line-height: 35px;
          border: 0 none;
          color: #999;
          position: relative;
          z-index: 30; }
      .Hair-car-header-box .Hair-car-header .Hair-car-headerr .xian {
        height: 10px;
        margin: 12px 10px 0;
        float: left;
        color: #999;
        position: relative;
        width: 1px;
        background: #999;
        overflow: hidden; }
      .Hair-car-header-box .Hair-car-header .Hair-car-headerr li:nth-of-type(18) .zsrz {
        display: none;
        position: absolute;
        top: 33px;
        left: 0;
        background: #fff;
        z-index: 40; }
        .Hair-car-header-box .Hair-car-header .Hair-car-headerr li:nth-of-type(18) .zsrz a {
          display: block;
          padding: 0 10px;
          border: 1px #f6f6f6 solid;
          color: #999;
          position: relative;
          z-index: 30; }

.Hair-car-con-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  /* .Hair-car-con-islogin{
        width: 1188px;
        height: 48px;
        line-height: 50px;
        margin: 0 auto;
        margin-bottom: 31px;
        background: #f5faff;
        border: 1px #24bdff solid;
        .Hair-car-con-islogin-con{
            width: 1188px;
            height: 50px;
            float: left;
            span:first-of-type{
                width: 23px;
                height: 21px;
                float: left;
                display: inline-block;
                margin: 13px 16px -3px 20px;
                background: url(../images/d-bg.png) 0px -332px;
            }
            a{
                color: #ffffff;

                margin: 13px 0px 13px 11px;
                border-radius: 5px;
                background: #005aa9;
                padding: 4px 12px 5px;
            }
        }
    } */
  /*   .Hair-car-con-con{
        .carsList{
            width: 1188px;
            height: auto;
            margin: 0 auto;
            clear: both;
            background: #ffffff;
            border: 1px solid #e2e2e2;
            border-bottom: none !important;
            .form{
                width: 1188px;
                height: auto;
                .form-header{
                    width: 1188px;
                    height: 40px;
                    line-height: 40px;
                    background: #f5f5f5;
                    color: #909090;
                    text-align: right;
                    overflow: hidden;
                    li{
                        float: left;
                        line-height: 40px;
                        color: #909090;
                        text-align: right;
                    }
                    li:first-of-type{
                        width: 82px;
                        input{
                            display: inline-block;
                            margin-right: 3px;  
                        }
                    }
                    li:nth-of-type(2){
                        width: 167px;
                    }
                    li:nth-of-type(3){
                        width: 259px;
                    }
                    li:nth-of-type(4){
                        width: 100px;
                    }
                    li:nth-of-type(5){
                        width: 108px;
                    }
                    li:nth-of-type(6){
                        width: 146px;
                    }
                    li:nth-of-type(7){
                        width: 134px;
                    }
                    li:nth-of-type(8){
                        
                        width: 105px;
                    }
                }
                .form-con{
                    padding: 20px 0 0 52px;
                   
                    position: relative;
                    border-top: 1px solid #e2e2e2;
                    background-color: rgb(234, 249, 255);
                    div{
                        div{
                        float:left;
                    }
                    div:first-of-type{
                        width:14px;
                    }
                    div:nth-of-type(2){
                        width: 293px;
                        height: 88px;
                        float: left;
                        overflow: hidden;
                        padding: 0 0 0 24px;
                        ul{
                            li{
                                width: 78px;
                                height: 78px;
                                float: left;
                                background: #fff;
                                overflow: hidden;
                                border: 1px solid #dcdcdc;
                            }
                        }
                        a{
                            margin-left: 10px;
                            color: #555;
                            display: inline-block;
                            margin-top: 5px;
                            overflow: hidden;
                            width: 175px;
                            height: 31px;
                            line-height: 16px;
                        }
                        div{
                            width: 184px;
                            height: auto;
                            float: left;
                            margin-top: 5px;
                        }

                    }
                    div:nth-of-type(3){
                        text-align: center;
                        float: left;
                        line-height: 25px;
                        width: 131px;
                        margin: 0 0 0 55px;
                    }
                    div:nth-of-type(4){
                        width: 131px !important;
                        line-height: 25px;
                    }
                    div:nth-of-type(5){
                        height: auto;
                        overflow: hidden;
                        float: left;
                        width:131px;
                        .number_input{
                            width: 86px;
                            height: 22px;
                            overflow: hidden;
                            .Negative{
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                text-align: center;
                                float: left;
                                cursor: pointer;
                                color: #a2a2a2;
                                display: inline-block;
                                background: #fef9f5;
                                border: 1px #ffe0c6 solid;
                            }
                            .text{
                                width: 42px;
                                height: 20px;
                                line-height: 20px;
                                float: left;
                                color: #555555;
                                text-align: center;
                                outline: none;
                                background: #ffffff;
                                border-top: 1px #ffe0c6 solid;
                                border-bottom: 1px #ffe0c6 solid;
                            }
                            .Positive{
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                text-align: center;
                                float: left;
                                cursor: pointer;
                                color: #a2a2a2;
                                display: inline-block;
                                background: #fef9f5;
                                border: 1px #ffe0c6 solid;
                            }
                        }
                        .Only{
                            width: 86px;
                            height: 23px;
                            clear: both;
                            color: #d71249;
                            line-height: 23px;
                            
                            text-align: center;
                            background: #fff9f4;
                        }
                        
                    }
                    div:nth-of-type(6){
                        width: 131px;
                        padding: 0 0 0 20px;
                    }
                    div:nth-of-type(7){
                        width: 131px;
                        padding: 0 0 0 10px;
                    }
                    div:nth-of-type(8){
                        cursor: pointer;
                    }
                    }
                    

                }
            }
        }
    } */ }
  .Hair-car-con-box .Hair-car-con-logo {
    width: 1190px;
    height: 95px;
    margin: 0 auto;
    overflow: hidden; }
    .Hair-car-con-box .Hair-car-con-logo .Hair-cr-con-logo-left {
      width: 220px;
      height: 95px;
      float: left;
      overflow: hidden; }
      .Hair-car-con-box .Hair-car-con-logo .Hair-cr-con-logo-left a {
        width: 135px;
        height: 39px;
        float: left;
        margin-right: 15px;
        margin: 28px 14px 0 0; }
      .Hair-car-con-box .Hair-car-con-logo .Hair-cr-con-logo-left span {
        width: 60px;
        float: left;
        line-height: 95px;
        font-size: 20px;
        color: #555555; }
    .Hair-car-con-box .Hair-car-con-logo .Hair-cr-con-logo-right {
      width: 628px;
      height: 95px;
      float: right; }
      .Hair-car-con-box .Hair-car-con-logo .Hair-cr-con-logo-right div:first-of-type {
        width: 200px;
        color: #fff;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        margin: 32px 0;
        float: left;
        text-align: center;
        background: #23519e; }
      .Hair-car-con-box .Hair-car-con-logo .Hair-cr-con-logo-right div:nth-of-type(2) {
        width: 184px;
        color: #fff;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        margin: 32px 0;
        float: left;
        text-align: center;
        background: #a7b0b5; }
      .Hair-car-con-box .Hair-car-con-logo .Hair-cr-con-logo-right div:last-of-type {
        width: 200px;
        color: #fff;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        margin: 32px 0;
        float: left;
        text-align: center;
        background: #a7b0b5; }
      .Hair-car-con-box .Hair-car-con-logo .Hair-cr-con-logo-right span:first-of-type {
        width: 20px;
        height: 30px;
        margin: 32px 0;
        display: inline-block;
        float: left;
        background: url("../images/cartsp.png") no-repeat 0 -368px; }
      .Hair-car-con-box .Hair-car-con-logo .Hair-cr-con-logo-right span:last-of-type {
        width: 20px;
        height: 30px;
        margin: 32px 0;
        display: inline-block;
        float: left;
        background: url(../images/cartsp.png) no-repeat 0 -403px; }
  .Hair-car-con-box .Hair-car-con-box .car-table {
    margin: 0 auto;
    width: 1188px;
    border: 1px solid #999; }
    .Hair-car-con-box .Hair-car-con-box .car-table .one {
      background: #f5f5f5;
      height: 40px;
      border-bottom: 1px solid #999; }
    .Hair-car-con-box .Hair-car-con-box .car-table .two {
      background-color: #eaf9ff; }
      .Hair-car-con-box .Hair-car-con-box .car-table .two td:nth-of-type(2) a img {
        width: 80px;
        height: 80px;
        margin: 0 auto 5px; }
      .Hair-car-con-box .Hair-car-con-box .car-table .two td:nth-of-type(2) a span {
        color: orange;
        margin: 5px auto 0;
        display: block;
        text-align: center; }
      .Hair-car-con-box .Hair-car-con-box .car-table .two td:nth-of-type(3) {
        color: red; }
      .Hair-car-con-box .Hair-car-con-box .car-table .two td:nth-of-type(4) {
        font-weight: 900;
        color: red; }
      .Hair-car-con-box .Hair-car-con-box .car-table .two td:nth-of-type(5) b {
        background-color: skyblue;
        display: inline-block;
        width: 30px;
        height: 20px;
        text-align: center;
        cursor: pointer; }
      .Hair-car-con-box .Hair-car-con-box .car-table .two td:nth-of-type(6) {
        color: orangered;
        font-weight: 700; }
      .Hair-car-con-box .Hair-car-con-box .car-table .two td:nth-of-type(7) {
        cursor: pointer; }
  .Hair-car-con-box .Hair-car-con-box .car-table2 {
    margin: 0 auto;
    width: 1188px;
    border: 1px solid #999; }
    .Hair-car-con-box .Hair-car-con-box .car-table2 .three {
      background: #f5f5f5;
      height: 40px;
      width: 1190px; }
      .Hair-car-con-box .Hair-car-con-box .car-table2 .three td:nth-of-type(2) {
        cursor: pointer; }
      .Hair-car-con-box .Hair-car-con-box .car-table2 .three td:nth-of-type(3) {
        cursor: pointer;
        font-weight: 900;
        color: red; }
      .Hair-car-con-box .Hair-car-con-box .car-table2 .three td:nth-of-type(5) {
        text-align: right; }
        .Hair-car-con-box .Hair-car-con-box .car-table2 .three td:nth-of-type(5) span {
          color: red;
          font-weight: 900; }
        .Hair-car-con-box .Hair-car-con-box .car-table2 .three td:nth-of-type(5) i {
          color: red;
          font-weight: 900; }
      .Hair-car-con-box .Hair-car-con-box .car-table2 .three td:nth-of-type(6) a {
        margin: 0 auto;
        display: block;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background: blue;
        color: #fff;
        text-align: center;
        border-radius: 5px; }
      .Hair-car-con-box .Hair-car-con-box .car-table2 .three td:nth-of-type(7) {
        background: #980d34;
        color: #fff;
        text-align: center;
        border-radius: 5px; }
  .Hair-car-con-box .balance {
    width: 1190px;
    height: 50px;
    line-height: 50px;
    color: #909090;
    margin: 0 auto;
    background: #f5f5f5;
    position: relative; }
    .Hair-car-con-box .balance .balance_center {
      width: 1190px;
      height: 50px;
      line-height: 50px;
      color: #909090;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .Hair-car-con-box .balance .balance_center .balance-left {
        margin-left: 20px;
        height: 50px; }
        .Hair-car-con-box .balance .balance_center .balance-left .Selectionping {
          width: 72px;
          float: left; }
        .Hair-car-con-box .balance .balance_center .balance-left #d_ie {
          margin-right: 35px;
          cursor: pointer;
          float: left; }
        .Hair-car-con-box .balance .balance_center .balance-left #d_qc {
          cursor: pointer;
          float: left; }
      .Hair-car-con-box .balance .balance_center .balance-right {
        width: auto;
        height: 50px;
        line-height: 50px;
        color: #909090; }
        .Hair-car-con-box .balance .balance_center .balance-right a:first-of-type {
          color: #d71249;
          font-size: 16px;
          font-family: verdana !important;
          font-weight: 700; }
        .Hair-car-con-box .balance .balance_center .balance-right a:nth-of-type(2) {
          letter-spacing: 1px;
          color: #d71249;
          font-size: 16px;
          font-family: verdana !important;
          font-weight: 700; }
        .Hair-car-con-box .balance .balance_center .balance-right a:last-of-type {
          width: 134px;
          height: 50px;
          line-height: 50px;
          color: #fff;
          border-radius: 3px;
          cursor: pointer;
          font-size: 16px;
          letter-spacing: 1px;
          display: inline-block;
          background: #d71249;
          text-align: center;
          margin-left: 10px;
          font-weight: bold;
          text-shadow: 0 1px 2px #980d34; }
