@charset "UTF-8";
/* CSS Document */
body, h1, h3, h2, h4, h5, h6, p, dl, dd, ul, li, ol, td, form, input, fieldset, legend {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-size: 12px;
  color: #333; }

body {
  font-size: 14px;
  font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\5b8b体,sans-serif;
  color: #666; }

* {
  box-sizing: border-box; }

img {
  vertical-align: top;
  display: block;
  border: none; }

a, input {
  outline: none; }

em, i {
  font-style: normal; }

b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

table {
  border-collapse: collapse; }

.border0 {
  border: none; }

.fl {
  float: left; }

.fr {
  float: right; }

body {
  background: #f6f6f6; }

.Hair-index-footer {
  margin-top: -4px;
  background: #fff;
  margin-bottom: 20px; }

.Hair-index-banner-box {
  height: 430px;
  margin-bottom: 30px;
  margin-top: -4px; }
  .Hair-index-banner-box .Hair-index-banner {
    width: 1190px;
    height: 426px;
    margin: 0 auto; }
    .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con {
      position: relative; }
      .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con ul {
        width: 192px;
        height: 426px;
        padding: 15px 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        z-index: 200; }
        .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con ul li {
          width: 192px;
          height: 36px;
          padding: 0 0 0 12px; }
          .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con ul li a {
            display: flex;
            justify-content: space-between;
            width: 180px;
            height: 36px;
            font-size: 14px;
            color: #fff; }
            .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con ul li a span:last-of-type {
              color: #666; }
      .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList {
        width: 447px;
        height: 430px;
        position: absolute;
        background: #fff;
        left: 192px;
        display: none;
        z-index: 88; }
        .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList .goodsListLeft {
          width: 207px;
          float: left; }
          .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList .goodsListLeft ol {
            height: 430px;
            padding: 5px; }
            .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList .goodsListLeft ol li a {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 207px;
              height: 50px; }
              .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList .goodsListLeft ol li a img {
                width: 34px;
                height: 34px;
                margin: 5px 28px 0; }
        .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList .goodsListRight {
          width: 217px;
          height: 430px;
          float: right; }
          .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList .goodsListRight dl {
            width: 217px;
            height: 104px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            border: 2px solid #999; }
            .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList .goodsListRight dl dt {
              margin: 0 28px 0 17px; }
              .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList .goodsListRight dl dt img {
                width: 70px;
                height: 70px; }
            .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList .goodsListRight dl dd {
              display: flex;
              flex-direction: column;
              font-size: 12px; }
              .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList .goodsListRight dl dd span:first-of-type {
                width: 90px;
                height: 36px;
                margin: 8px 0 6px;
                word-wrap: break-word;
                word-break: normal; }
            .Hair-index-banner-box .Hair-index-banner .Hair-index-nav-left-con .goodsList .goodsListRight dl .iconfont {
              position: absolute;
              width: 60px;
              height: 20px;
              background: #d71247;
              top: 0px;
              left: 95px;
              font-size: 12px;
              text-align: center;
              line-height: 20px; }
    .Hair-index-banner-box .Hair-index-banner .Hair-play {
      width: 952px;
      height: 430px;
      overflow: hidden;
      position: relative;
      float: left; }
      .Hair-index-banner-box .Hair-index-banner .Hair-play ol {
        position: absolute;
        height: 15px;
        line-height: 15px;
        right: 400px;
        bottom: 5px;
        z-index: 2;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50px; }
        .Hair-index-banner-box .Hair-index-banner .Hair-play ol li {
          float: left;
          margin-right: 3px;
          display: inline;
          cursor: pointer;
          margin-top: -3px;
          padding: 2px 6px;
          color: gray;
          font-size: 16px; }
        .Hair-index-banner-box .Hair-index-banner .Hair-play ol .active {
          padding: 3px 8px;
          font-weight: bold;
          color: #d71247;
          position: relative;
          bottom: 2px; }
      .Hair-index-banner-box .Hair-index-banner .Hair-play ul {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1; }
        .Hair-index-banner-box .Hair-index-banner .Hair-play ul li {
          width: 952px;
          height: 430px;
          float: left; }
          .Hair-index-banner-box .Hair-index-banner .Hair-play ul li img {
            width: 952px;
            height: 430px;
            float: left; }
    .Hair-index-banner-box .Hair-index-banner .banner-right {
      width: 230px;
      margin-top: 1px;
      background: #fff;
      float: right; }
      .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-file {
        padding: 10px;
        text-align: center; }
        .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-file img {
          width: 66px;
          height: 66px;
          overflow: hidden;
          margin: 0 auto; }
        .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-file h2 {
          width: 210px;
          text-align: center;
          height: 20px;
          line-height: 20px;
          padding: 5px 10px 0;
          color: #999;
          font-size: 12px; }
        .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-file .banner-right-fileBot {
          text-align: center;
          padding: 9px 0 0; }
          .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-file .banner-right-fileBot a {
            display: inline-block;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            border-radius: 2px;
            padding: 0 11px;
            background-color: #2979ff;
            margin: 0 5px;
            font-weight: 400;
            color: #fff; }
      .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-shop {
        border-bottom: 1px #eaeaea solid;
        height: 61px;
        border-top: 1px #eaeaea solid;
        overflow: hidden; }
        .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-shop .banner-right-shopLeft {
          float: left;
          width: 50%;
          padding: 8px 0;
          text-align: center;
          margin-left: -1px;
          border-left: 1px #eaeaea solid;
          color: #666; }
          .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-shop .banner-right-shopLeft span {
            display: block; }
        .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-shop .banner-right-shopRight {
          float: right;
          width: 50%;
          padding: 8px 0;
          text-align: center;
          margin-left: -1px;
          border-left: 1px #eaeaea solid;
          color: #666; }
          .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-shop .banner-right-shopRight span {
            display: block; }
      .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-article {
        padding: 0 10px 10px; }
        .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-article .banner-right-articleTitle {
          height: 32px;
          line-height: 32px;
          border-bottom: 1px #eaeaea solid; }
          .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-article .banner-right-articleTitle span {
            float: left;
            border-bottom: 1px #2979ff solid;
            color: #333; }
          .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-article .banner-right-articleTitle a {
            float: right; }
        .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-article .banner-right-articleCon {
          padding-top: 8px; }
          .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-article .banner-right-articleCon li {
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            font-size: 14px; }
            .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-article .banner-right-articleCon li a {
              display: inline-block;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
      .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-footer {
        border-top: 1px #eaeaea solid;
        overflow: hidden; }
        .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-footer li {
          float: left;
          height: 40px;
          line-height: 40px;
          border-right: 1px #eaeaea solid;
          border-bottom: 1px #eaeaea solid;
          width: 50%;
          margin-right: -1px;
          margin-bottom: -1px;
          text-align: center; }
          .Hair-index-banner-box .Hair-index-banner .banner-right .banner-right-footer li a .iconfont {
            width: 25px;
            height: 25px;
            margin-right: 3px;
            color: #2979ff;
            font-size: 16px; }

.Hair-index-saleHot-box {
  height: 150px;
  margin-bottom: 30px; }
  .Hair-index-saleHot-box .Hair-index-saleHot {
    height: 150px;
    margin: 0 auto;
    width: 1190px; }
    .Hair-index-saleHot-box .Hair-index-saleHot ul {
      display: flex;
      justify-content: space-between; }
      .Hair-index-saleHot-box .Hair-index-saleHot ul li {
        width: 290px;
        height: 150px;
        background: pink; }
        .Hair-index-saleHot-box .Hair-index-saleHot ul li img {
          width: 100%;
          height: 100%; }

.Hair-index-jptj-mod {
  height: 480px;
  margin-bottom: 30px; }
  .Hair-index-jptj-mod .Hair-index-jptj {
    margin: 0 auto;
    width: 1190px;
    height: 480px; }
    .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-top {
      height: 60px;
      width: 1190px;
      border-radius: 10px 10px 0 0;
      line-height: 60px;
      padding: 0 18px;
      background: #2979ff; }
      .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-top h2 {
        float: left;
        color: #fff;
        font-size: 18px;
        font-weight: 400; }
        .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-top h2 .iconfont {
          width: 32px;
          height: 32px;
          margin-right: 6px; }
    .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot {
      width: 1190px;
      padding: 10px;
      background-color: #fff;
      overflow: hidden; }
      .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-left {
        float: left;
        width: 220px;
        overflow: hidden; }
        .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-left a {
          color: #666; }
          .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-left a img {
            width: 230px;
            height: 400px;
            border: 0;
            vertical-align: middle;
            display: block; }
      .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-right {
        float: right;
        overflow: hidden;
        width: 930px;
        position: relative;
        z-index: 5; }
        .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-right .fake-border-l {
          left: 309px;
          width: 1px;
          height: 100%;
          position: absolute;
          overflow: hidden;
          background-color: #eaeaea;
          z-index: 10; }
        .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-right .fake-border-r {
          left: 618px;
          width: 1px;
          height: 100%;
          position: absolute;
          overflow: hidden;
          background-color: #eaeaea;
          z-index: 10; }
        .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-right .fake-border-bot {
          top: 200px;
          width: 920px;
          height: 1px;
          position: absolute;
          overflow: hidden;
          background-color: #eaeaea;
          z-index: 10; }
        .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-right .li {
          float: left;
          width: 310px;
          padding: 20px;
          height: 200px;
          position: relative;
          background-color: #fff; }
          .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-right .li a:first-of-type {
            float: left;
            margin: 20px 20px 0 0;
            width: 135px;
            height: 135px; }
            .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-right .li a:first-of-type img {
              width: 135px;
              height: 135px; }
          .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-right .li a:last-of-type {
            width: 112px;
            height: 34px;
            float: left;
            margin-top: 50px;
            margin-bottom: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #666;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            word-break: break-all; }
          .Hair-index-jptj-mod .Hair-index-jptj .Hair-index-jptj-bot .Hair-index-jptj-bot-right .li span {
            font-size: 14px;
            color: #ff4949; }

.Hair-index-channals-mod {
  height: 572px;
  margin-bottom: 30px; }
  .Hair-index-channals-mod .Hair-index-channals {
    width: 1190px;
    height: 572px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left {
      width: 390px;
      height: 572px; }
      .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-top {
        width: 390px;
        padding: 0 18px;
        height: 60px;
        background: #7aa58f;
        line-height: 60px;
        border-radius: 10px 10px 0 0; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-top h2 {
          float: left;
          color: #fff;
          font-size: 18px;
          font-weight: 400; }
      .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot {
        width: 390px;
        height: 512px;
        padding: 0 10px 10px;
        background: #fff; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botTop {
          overflow: hidden;
          position: relative;
          height: 252px; }
          .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botTop .faker-border {
            height: 1px;
            width: 100%;
            position: absolute;
            overflow: hidden;
            background-color: #eaeaea;
            z-index: 10;
            top: 126px; }
          .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botTop a {
            display: block;
            padding: 18px 0;
            position: relative;
            color: #666;
            height: 126px; }
            .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botTop a img {
              float: right;
              width: 90px;
              height: 90px;
              border: 0;
              vertical-align: middle; }
            .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botTop a .ver-border {
              width: 2px;
              height: 14px;
              margin-right: 4px;
              background-color: #2979ff;
              vertical-align: middle;
              display: inline-block; }
            .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botTop a p {
              margin-right: 100px;
              color: #999;
              padding: 0 15px 0 8px;
              position: relative;
              z-index: 100;
              height: 36px; }
              .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botTop a p:hover {
                color: #2979ff; }
            .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botTop a:hover {
              color: #2979ff; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botFooter {
          width: 105%;
          margin-top: 10px; }
          .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botFooter div {
            float: left;
            width: 180px;
            margin-right: 10px;
            overflow: hidden; }
            .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botFooter div a {
              color: #666; }
              .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-left .Hair-index-channals-left-bot .Hair-index-channals-left-botFooter div a img {
                width: 190px;
                height: 240px; }
    .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center {
      width: 390px;
      height: 572px; }
      .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-top {
        width: 390px;
        padding: 0 18px;
        height: 60px;
        background: #9aa76f;
        border-radius: 10px 10px 0 0;
        line-height: 60px; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-top h2 {
          float: left;
          color: #fff;
          font-size: 18px;
          font-weight: 400; }
      .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-bot {
        width: 390px;
        height: 512px;
        padding: 0 10px 10px;
        background: #fff; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-bot .Hair-index-channals-center-botTop {
          overflow: hidden;
          position: relative;
          height: 252px; }
          .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-bot .Hair-index-channals-center-botTop a {
            display: block;
            padding: 18px 0;
            position: relative;
            font-size: 12px;
            color: #333; }
            .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-bot .Hair-index-channals-center-botTop a .ver-border {
              width: 2px;
              height: 14px;
              margin-right: 4px;
              background-color: #2979ff;
              vertical-align: middle;
              display: inline-block; }
            .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-bot .Hair-index-channals-center-botTop a p {
              height: 56px;
              -webkit-line-clamp: 3;
              width: 210px;
              margin-right: 100px;
              color: #999;
              padding: 0 15px 0 8px;
              position: relative;
              z-index: 100; }
            .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-bot .Hair-index-channals-center-botTop a img {
              width: 135px;
              height: 150px;
              margin-top: -21px;
              float: right; }
            .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-bot .Hair-index-channals-center-botTop a span:last-of-type {
              position: absolute;
              border: 1px solid #9aa76f;
              height: 24px;
              line-height: 24px;
              padding: 0 10px;
              border-radius: 2px;
              top: 129px;
              left: 10px; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-bot .Hair-index-channals-center-botFooter {
          width: 105%;
          margin-top: 10px; }
          .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-bot .Hair-index-channals-center-botFooter div {
            float: left;
            width: 180px;
            margin-right: 10px;
            overflow: hidden; }
            .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-bot .Hair-index-channals-center-botFooter div a {
              color: #666; }
              .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-center .Hair-index-channals-center-bot .Hair-index-channals-center-botFooter div a img {
                width: 190px;
                height: 240px; }
    .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-right {
      width: 390px;
      height: 572px; }
      .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-right .Hair-index-channals-right-top {
        width: 390px;
        padding: 0 18px;
        height: 60px;
        background: #c8af64;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 900;
        color: #fff; }
      .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-right .Hair-index-channals-right-bot {
        width: 390px;
        height: 512px;
        padding: 10px 10px 10px;
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-right .Hair-index-channals-right-bot div {
          width: 50%;
          height: 246px;
          padding: 18px 0;
          border-right: 1px solid #eaeaea;
          border-bottom: 1px solid #eaeaea; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-right .Hair-index-channals-right-bot div:nth-of-type(2) {
          border-right: none; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-right .Hair-index-channals-right-bot div:nth-of-type(3) {
          border-bottom: none; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-right .Hair-index-channals-right-bot div:nth-of-type(4) {
          border-right: none;
          border-bottom: none; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-right .Hair-index-channals-right-bot a:hover {
          color: #2979ff; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-right .Hair-index-channals-right-bot a p:nth-of-type(2) {
          color: #666;
          margin: 5px 15px 0; }
        .Hair-index-channals-mod .Hair-index-channals .Hair-index-channals-right .Hair-index-channals-right-bot a p:nth-of-type(3) {
          width: 160px;
          height: 120px;
          margin-top: 50px; }

/* 优品专辑 */
.Hair-index-layout-box {
  height: 398px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center; }
  .Hair-index-layout-box .Hair-index-layout {
    height: 398px;
    width: 1190px;
    background: #fff; }
    .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-top {
      height: 46px;
      position: relative;
      display: flex;
      justify-content: space-between; }
      .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-top .Hair-index-layout-topTitle {
        width: 146px;
        padding: 0 18px;
        height: 56px;
        line-height: 56px;
        position: absolute;
        background: #2979ff;
        top: -10px;
        border-radius: 10px 10px 0 0;
        color: #fff;
        font-size: 18px; }
        .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-top .Hair-index-layout-topTitle .iconfont {
          font-size: 18px; }
        .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-top .Hair-index-layout-topTitle a img {
          width: 230px;
          height: 332px; }
      .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-top .Hair-index-layout-topCon {
        display: flex;
        margin-left: 156px;
        width: 1034px;
        height: 46px;
        border-bottom: 2px solid #eaeaea; }
        .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-top .Hair-index-layout-topCon li {
          width: 128px;
          height: 46px;
          text-align: center;
          line-height: 46px; }
          .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-top .Hair-index-layout-topCon li:hover {
            border-bottom: 2px solid #2979ff; }
          .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-top .Hair-index-layout-topCon li a i {
            margin-right: 5px; }
          .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-top .Hair-index-layout-topCon li a:hover {
            color: #2979ff; }
        .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-top .Hair-index-layout-topCon span {
          display: block;
          height: 46px;
          line-height: 46px; }
        .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-top .Hair-index-layout-topCon span:last-of-type {
          display: none; }
    .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot {
      width: 1190px;
      height: 352px;
      background: #fff;
      padding: 10px;
      display: none; }
      .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botLeft {
        float: left;
        width: 220px;
        height: 332px; }
      .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight {
        float: right;
        height: 332px;
        width: 940px;
        position: relative; }
        .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight .border1 {
          left: 235px;
          top: 15px;
          height: 308px;
          width: 1px;
          position: absolute;
          overflow: hidden;
          background-color: #eaeaea;
          z-index: 10; }
        .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight .border2 {
          left: 470px;
          top: 15px;
          height: 308px;
          width: 1px;
          position: absolute;
          overflow: hidden;
          background-color: #eaeaea;
          z-index: 10; }
        .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight .border3 {
          left: 705px;
          top: 15px;
          height: 308px;
          width: 1px;
          position: absolute;
          overflow: hidden;
          background-color: #eaeaea;
          z-index: 10; }
        .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight .border4 {
          top: 166px;
          height: 1px;
          width: 100%;
          position: absolute;
          overflow: hidden;
          background-color: #eaeaea;
          z-index: 10; }
        .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight .pin {
          float: left;
          width: 235px;
          height: 166px;
          position: relative; }
          .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight .pin a:first-of-type {
            color: #666; }
            .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight .pin a:first-of-type span {
              position: absolute;
              z-index: 10;
              width: 112px;
              top: 25px;
              left: 30px;
              height: 36px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              word-wrap: break-word;
              word-break: break-all; }
          .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight .pin b {
            position: absolute;
            z-index: 10;
            top: 65px;
            left: 30px;
            font-size: 14px;
            color: #ff4949; }
            .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight .pin b i {
              font-family: arial;
              font-weight: 400;
              font-size: 12px; }
          .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight .pin a:last-of-type {
            color: #666; }
            .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot .Hair-index-layout-botRight .pin a:last-of-type img {
              position: absolute;
              z-index: 5;
              width: 110px;
              height: 110px;
              right: 10px;
              bottom: 10px;
              border: 0;
              vertical-align: middle; }
    .Hair-index-layout-box .Hair-index-layout .Hair-index-layout-bot:nth-of-type(2) {
      display: block; }

.Hair-index-saying-mod {
  height: 444px;
  margin-bottom: 20px; }
  .Hair-index-saying-mod .Hair-index-saying {
    height: 444px;
    width: 1190px;
    margin: 0 auto; }
    .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-top {
      width: 1190px;
      height: 60px;
      padding: 0 18px;
      border-radius: 10px 10px 0 0;
      background: #2979ff;
      line-height: 60px;
      color: #fff; }
      .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-top .iconfont {
        font-size: 18px; }
    .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box {
      padding: 10px 0 0; }
      .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot {
        position: relative; }
        .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-jt span:first-of-type {
          display: inline-block;
          background: url("../images/icons.png") no-repeat;
          left: 0;
          background-position: -42px -304px;
          top: 120px;
          width: 22px;
          height: 50px;
          position: absolute;
          z-index: 1000;
          cursor: pointer; }
        .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-jt span:last-of-type {
          display: inline-block;
          background: url("../images/icons.png") no-repeat;
          right: 0;
          background-position: -65px -304px;
          top: 120px;
          width: 22px;
          height: 50px;
          position: absolute;
          z-index: 100;
          cursor: pointer; }
        .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con {
          overflow: hidden;
          width: 1190px;
          height: 374px;
          color: #666;
          position: relative; }
          .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul {
            width: 3600px;
            height: 374px;
            padding-bottom: 10px;
            position: absolute;
            left: 0; }
            .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul li {
              margin-right: 10px;
              float: left;
              width: 290px;
              background-color: #fff;
              padding-bottom: 10px;
              overflow: hidden; }
              .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul li a:first-of-type {
                width: 290px;
                height: 250px; }
                .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul li a:first-of-type img {
                  border: 0;
                  vertical-align: middle; }
              .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul li a:last-of-type {
                display: block;
                margin: 10px 0;
                padding: 0 10px; }
                .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul li a:last-of-type:hover {
                  color: #2979ff; }
                .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul li a:last-of-type div {
                  height: 24px;
                  line-height: 24px; }
                  .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul li a:last-of-type div span:first-of-type {
                    float: left;
                    width: 60%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis; }
                  .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul li a:last-of-type div span:last-of-type {
                    float: right;
                    color: #d71247; }
                .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul li a:last-of-type p {
                  margin: 10px 0;
                  height: 34px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  word-wrap: break-word;
                  word-break: break-all; }
              .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul li .date {
                padding: 0 10px;
                line-height: 24px;
                text-align: right; }
                .Hair-index-saying-mod .Hair-index-saying .Hair-index-saying-bot-box .Hair-index-saying-bot .Hair-index-saying-bot-con ul li .date span {
                  color: #666; }

.Hair-index-recommend-mod {
  height: 381px;
  margin-bottom: 20px; }
  .Hair-index-recommend-mod .Hair-index-recommend {
    height: 381px;
    width: 1190px;
    margin: 0 auto; }
    .Hair-index-recommend-mod .Hair-index-recommend .Hair-index-recommend-top {
      width: 1190px;
      height: 60px;
      padding: 0 18px;
      border-radius: 10px 10px 0 0;
      background: #2979ff;
      line-height: 60px;
      color: #fff; }
      .Hair-index-recommend-mod .Hair-index-recommend .Hair-index-recommend-top .iconfont {
        font-size: 18px; }
    .Hair-index-recommend-mod .Hair-index-recommend .Hair-index-recommend-bot {
      padding: 10px 0;
      overflow: hidden; }
      .Hair-index-recommend-mod .Hair-index-recommend .Hair-index-recommend-bot ul {
        margin: -10px 0 0 -10px; }
        .Hair-index-recommend-mod .Hair-index-recommend .Hair-index-recommend-bot ul li {
          margin: 10px 0 0 10px;
          width: 230px;
          padding-bottom: 10px;
          float: left;
          position: relative;
          background-color: #fff; }
          .Hair-index-recommend-mod .Hair-index-recommend .Hair-index-recommend-bot ul li a:first-of-type {
            display: block;
            padding: 10px; }
            .Hair-index-recommend-mod .Hair-index-recommend .Hair-index-recommend-bot ul li a:first-of-type img {
              width: 160px;
              height: 160px;
              display: block;
              margin: 17px auto; }
          .Hair-index-recommend-mod .Hair-index-recommend .Hair-index-recommend-bot ul li a:last-of-type {
            padding: 0 10px;
            height: 34px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            word-break: break-all; }
          .Hair-index-recommend-mod .Hair-index-recommend .Hair-index-recommend-bot ul li p {
            padding: 10px;
            font-size: 14px;
            color: #ff4949;
            text-align: left; }
